<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducaWeys</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/gorro.png" type="image/png">
</head>
<body>
    <header>
        <h1>Bienvenido a EducaWeys</h1>
        <h2>Tu plataforma de educación en línea</h2>
        <nav>
                <a href="https://esit.gob.sv/">Cursos</a>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>Sobre nosotros</h2>
            <p>En EducaWeys, nos dedicamos a ofrecer herramientas de educacion para ayudarte a alcanzar tus metas educativas y profesionales, a traves de las herramientas de nuestra página web, podras ir aprendiendo de manera continua y clara para que tengas un mejor desempeño.</p>
            <center> <img src="https://www.ceupe.com/images/easyblog_articles/3498/b2ap3_large_beneficios-de-la-educacion-online.jpg" alt="Soluciones para el Planeta"> </center>
        </section>

        <section id="tools">
    <h2>Herramientas de Educación</h2>
    <div class="tools-container">
        <div class="tool-card">
            <img src="/static/images/canva.jpeg" alt="Canva">
            <h3>Canva</h3>
            <p>Herramienta de diseño gráfico para crear presentaciones y materiales educativos.</p>
            <span class="rating">⭐ 4.9</span>
            <a href="https://www.canva.com/" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">Canva es una empresa multinacional australiana de software patentado que proporciona una plataforma de diseño gráfico que proporciona herramientas para crear gráficos, presentaciones, postales, productos promocionales y sitios web para redes sociales.</span>
    </span>
        </div>
        <div class="tool-card">
            <img src="/static/images/classroom.png" alt="Google Classroom">
            <h3>Google Classroom</h3>
            <p>Herramienta muy buena para la organizacion de clases en linea.</p>
            <span class="rating">⭐ 4.6</span>
            <a href="https://classroom.google.com/" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">Google Classroom ayuda a los educadores a crear experiencias de aprendizaje interesantes que pueden personalizar, administrar y medir. Como parte de Google Workspace for Education, permite que los educadores mejoren su impacto y preparen a los estudiantes para el futuro.</span>
    </span>
        </div>
        <div class="tool-card">
            <img src="/static/images/zoom.png" alt="Zoom">
            <h3>Zoom</h3>
            <p>Plataforma de videoconferencias para clases y reuniones en línea.</p>
            <span class="rating">⭐ 4.5</span>
            <a href="https://zoom.us/" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">Zoom Video Communications es una empresa estadounidense fundada en 2011 por Eric Yuan, con sede en San José, California. Es conocida principalmente por su sistema de videollamadas y reuniones virtuales Zoom, disponible en computadoras de escritorio, computadoras portátiles, teléfonos inteligentes y tabletas.</span>
    </span>
        </div>
        <div class="tool-card">
            <img src="/static/images/prezi.png" alt="Prezi">
            <h3>Prezi</h3>
            <p>Herramienta muy practica para crear presentaciones bien elaboradas.</p>
            <span class="rating">⭐ 4.7</span>
            <a href="https://prezi.com/" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">Prezi es un programa de presentaciones para explorar y compartir ideas sobre un documento virtual basado en la informática en nube (software como servicio) ​ La aplicación se distingue por su interfaz gráfica con zoom, que permite a los usuarios disponer de una visión más acercada o alejada de la zona de presentación, en un espacio 2.5D.</span>
    </span>
        </div>
        <div class="tool-card">
            <img src="/static/images/quizlet.png"alt="Quizlet">
            <h3>Quizlet</h3>
            <p>Plataforma para crear tarjetas de estudio y practicar conceptos.</p>
            <span class="rating">⭐ 4.8</span>
            <a href="https://quizlet.com/" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">Quizlet es una página web y aplicación de móvil educativa. Fue creado por Andrew Sutherland en octubre de 2005 y lanzado al público en enero de 2007. Quizlet entrena a los estudiantes a través de tarjetas de aprendizaje y varios juegos y pruebas.</span>
    </span>
        </div>
        <div class="tool-card">
            <img src="/static/images/udemy.png" alt="Udemy">
            <h3>Udemy</h3>
            <p>Ofrece cursos en línea sobre una amplia variedad de temas.</p>
            <span class="rating">⭐ 4.6</span>
            <a href="https://www.udemy.com/" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">Udemy es una plataforma de aprendizaje en línea. Está dirigido a adultos profesionales.​ A diferencia de los programas académicos MOOC conducidos por tradicionales cursos de trabajo creados por las universidades, Udemy utiliza contenido de creadores en línea para vender y así conseguir ganancias.​</span>
    </span>
    </div>
    <div class="tool-card">
    <img src="/static/images/duolingo.png" alt="Duolingo">
    <h3>Duolingo</h3>
    <p>Aprender idiomas nunca fue tan divertido e interactivo como en Duolingo.</p>
    <span class="rating">⭐ 4.8</span>
    <a href="https://www.duolingo.com/" target="_blank"><button>Ver</button></a>
    <span class="info-icon">
        ℹ
        <span class="tooltip-text">Duolingo ofrece cursos de idiomas gratuitos con ejercicios interactivos y seguimiento de progreso. ¡En nuestras lecciones cortas ganarás puntos y habilitarás nuevas unidades al mismo tiempo que desarrollas tus habilidades de comunicación en la vida real!</span>
    </span>
</div>
        <div class="tool-card">
            <img src="/static/images/python.png" alt="Python">
            <h3>Python</h3>
            <p>Python es una herramienta de código, es facil de usar, muy eficiente, comoda y recomendad para la creación de proyectos pequeños y grandes.</p>
            <span class="rating">⭐ 4.9</span>
             <a href="https://www.python.org/" target="_blank"><button>Ver</button></a>
             <span class="info-icon">
        ℹ
        <span class="tooltip-text">Python es un lenguaje de alto nivel de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.</span>
    </span>
        </div>
        <div class="tool-card">
            <img src="/static/images/moodle.png" alt="Moodle">
            <h3>Moodle</h3>
            <p>Esta es una plataforma para estudiantes de la universidad, cuenta con espacios de tareas, calendarios, etc.</p>
            <span class="rating">⭐ 4.7</span>
            <a href="https://eduvirtual.unab.edu.sv/login/index.php" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">Moodle es un sistema de gestión de aprendizaje, gratuito y de código abierto escrito en PHP​ y distribuido bajo la Licencia Pública General GNU.​ Moodle se utiliza para el aprendizaje combinado, la educación a distancia, el aula invertida y otros esquemas de aprendizaje en línea en escuelas, universidades, lugares de trabajo y otros sectores.Se puede usar para crear sitios web personalizados con cursos en línea y permite complementos de origen comunitario.</span>
    </span>
        </div>
        <div class="tool-card">
            <img src="/static/images/github.jpg" alt="GitHub">
            <h3>GitHub</h3>
            <p>Ya tenemos herramienta de codigo y tambien necesitamos una para guardarlo, una muy buena opción para eso es GitHub.</p>
            <span class="rating">⭐ 4.8</span>
            <a href="https://github.com/" target="_blank"><button>Ver</button></a>
            <span class="info-icon">
        ℹ
        <span class="tooltip-text">GitHub es una forja para alojar proyectos utilizando el sistema de control de versiones Git. Se utiliza principalmente para la creación de código fuente de programas de ordenador. El software que opera GitHub fue escrito en Ruby on Rails. Desde enero de 2010, GitHub opera bajo el nombre de GitHub, Inc.</span>
    </span>
        </div>
</section>
    </main>

     <footer>
        <p>&copy; 2025 EducaWeb. Todos los derechos reservados.</p>
     </footer>   
    
</body>
</html>